anaconda-catalogs
astropy
autopep8
boto3
bottleneck
brotlipy
camelot-py
conda-build
conda-repo-cli
conda-token
conda-verify
cytoolz
dask-ml
datashader
decord
facenet-pytorch
ffmpeg-python
flake8
flask-login
flask-sqlalchemy
gensim
hvplot
imagecodecs
imbalanced-learn
importlib-resources
imutils
jupyter
jupyterhub
jupyterlab
lmdb
lz4
mat73
mkl-fft
mkl-random
moviepy
mss
mtcnn
munkres
navigator-updater
nltk
opencv-python-headless
pep8
pip-chill
plotly
pooch
pycurl
pydocstyle
pygrabber
pyjwt
pyodbc
pysocks
pyspark
pytest
python-snappy
rope
ruamel-yaml-conda
s3fs
sacremoses
scikit-image
scikit-learn-intelex
scrapy
seaborn
sentencepiece
sip
spyder
statsmodels
streamlit
tables
tabulate
tbb
tensorflow
transformers
unidecode
whatthepatch
win-inet-pton
wordcloud
xlwings
yapf
